<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'
	debug="true">
	<appender name="console" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/enduser-service.log" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{MM/dd/yyyy hh:mm:ss,SSSa} %-5p %x %c.%M[%L] - %m%n" />
		</layout>
	</appender>

	<category name="org.apache" additivity="false">
		<priority value="error" />
		<appender-ref ref="console" />
	</category>

	<root>
		<priority value="all" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>